/* main form styling*/

.main_form{
    display:flex;
    flex-direction:column;
    padding: 20px;
    width:20%;
}

.radio_buttons{
    display:flex;
    flex-direction: row;
    border-style: none;
    padding: 10px 0px;
}

.lable{
    margin-right: 10px;
}

.hidden{
    display:none;
}

.visible{
    display:contents;
}